.App {
  font-family: sans-serif;
  text-align: center;
}

.App-header {
  background-color: #333;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; /* Ajoutez cette ligne pour permettre un positionnement relatif */
}

.profile-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}



.nav-bar {
  background-color: #333;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  margin-bottom: 5px;
}

/* Styles pour le carousel */
.carousel-container {
  width: 80%;
  margin: auto;
}

.carousel-item {
  text-align: center;
  background-color: #f0f0f0; /* Couleur de fond gris pour le bloc */
  padding: 20px;
  border-radius: 8px;
}

.carousel-item img {
  max-width: 100%;
  max-height: 200px;
  margin: auto;
  border-radius: 4px;
}

.carousel-item p {
  margin-top: 10px;
}

/* App.css */
.App {
  font-family: sans-serif;
  text-align: center;
}

.App-header {
  background-color: #333;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}


.search-bar {
  padding: 5px;
  width: 200px;
  margin-left: 10px; /* Ajout de cette ligne pour définir la marge à gauche */
}

.nav-bar {
  background-color: #333;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  margin-bottom: 5px;
}

/* Styles pour le carousel */
.carousel-container {
  width: 80%;
  margin: auto;
}

.slick-slide img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.carousel-item {
  text-align: center;
  background-color: #f0f0f0; /* Couleur de fond gris pour le bloc */
  padding: 20px;
  border-radius: 8px;
}

.carousel-item p {
  margin-top: 10px;
}

.search-bar {
  padding: 5px;
  width: 300px; /* Augmentez la largeur selon votre préférence */
  margin-left: 10px;
  margin-right: auto;
  display: inline-block; /* Utilisez 'inline-block' pour rendre la barre de recherche et le bouton en ligne */
}

.search-button {
  padding: 5px 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 950px; /* Ajustez la marge à gauche selon vos besoins */
}


/* Ajoutez ces styles à votre fichier App.css */

.carousel-grid-space {
  height: 20px; /* Ajustez la hauteur de l'espace entre le carousel et la grille */
}

/* Ajout d'un espace (padding) entre le carousel et la grille */
.spacer {
  height: 20px;
}

/* Styles pour la grille */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Trois conteneurs par ligne */
  gap: 20px; /* Espace entre les conteneurs */
  padding: 20px; /* Ajout de padding à la grille */
  margin-top: 5px; /* Ajout d'un espace en haut de la grille */
  
}

.grid-item {
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
}

.grid-item img {
  max-width: 100%;
  max-height: 200px;
  margin-bottom: 10px;
}

/* Styles pour la recherche */
.search-container {
  display: flex;
  align-items: center;
}



.site-logo {
  width: 150px; /* Ajustez la largeur */
  height: 30px; /* Ajustez la hauteur */
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%; /* Centrez verticalement le logo */
  transform: translateY(-50%); /* Centrez verticalement le logo */
  right: 10px; /* Ajoutez une marge à droite pour positionner le logo à droite */
  border-radius: 220px; /* Ajoutez une bordure arrondie */
}

.sell-button {
  position: absolute;
  right: 300px; /* Ajustez la valeur de la marge à votre convenance */
  top: 50%;
  transform: translateY(-50%);
}

.sell-button button {
  background-color: #4CAF50; /* Vert */
  color: #fff; /* Texte blanc */
  padding: 10px 20px; /* Marge intérieure */
  border: none; /* Pas de bordure */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
  transition: background-color 0.3s ease; /* Transition de couleur de fond */
}

.sell-button button:hover {
  background-color: #45a049; /* Changement de couleur au survol */
}
